/* top bar */
.topnav a {
  color: #5ACAA5;
  text-decoration: none;
  font-size: 17px;
  font-family:"Bodoni, Serif";
  margin: 10px 20px 10px 20px;
  padding:15px 18px 15px 18px;
  margin-bottom: 25px;
}
.topnav a:hover {
  background-color: white;
  color: #5ACAA5;
}
.topnav a.active {
  background-color: #5ACAA5;
  color: white;
}
@media screen and (max-width: 652px) {
  .topnav a {
    display: block !important;
  }
}
/* social media buttons*/
  .fa {
    padding: 11px 10px 10px 10px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .fa:hover {
    opacity: 0.7;
    }
  .fa-instagram {
    background: #5ACAA5;
    color: white;
    text-decoration: none;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    text-decoration: none;
  }
  .fa-google {
    background: #4285f4;
    color: white;
    text-decoration: none;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    text-decoration: none;
  }
/* body stuff */
body{
  background-color:#DAFFF3;
  padding: 20px;
}
.card {
   background-color:white;
   padding: 20px;
   margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .leftcolumn{
    width: 55% !important;
  }
  .rightcolumn{
    width: 45% !important;
  }
}
/* headers */
  h1{
    color:#5ACAA5;
    text-align:center;
    font-family:"Bodoni, Serif";
    font-size:75px;
    margin: 5px;
    text-decoration: none;
  }
  h2{ /*subheadings*/
    color:#5ACAA5;
    text-align:center;
    font-family:"Bodoni, Serif";
    font-weight: bold;
    font-size:40px;
    margin-block-start: 35px;
    margin-block-end: 10px;
  }
  h3{ /*right column*/
    color:#5ACAA5;
    text-align:center;
    font-family:"Bodoni, Serif";
    font-weight: bold;
    font-size:20px;
    margin-block-start: 10px;
    margin-block-end: 15px;
  }
  h5{ /*dates*/
    color:#5ACAA5;
    text-align:center;
    font-family:"Bodoni, Serif";
    font-weight: bold;
    font-size:15px;
    margin-block-start: 10px;
    margin-block-end: 35px;
  }
/* paragraphs*/
  p{
    font-family:"Lucida Grande, Sans-serif";
    font-size:15px;
    color:#83C0AC;
    text-align:center;
  }
  p2{
    font-family:"Lucida Grande, Sans-serif";
    font-size:12px;
    color:#83C0AC;
    text-align:center;
  }
.button {
  background-color: #5ACAA5; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-family:"Lucida Grande, Sans-serif";
  width: 70%;
}
.button:hover {
  opacity: 0.7 !important;
  }
/* columns */
.leftcolumn {
  float: left;
  width: 75%;
  padding: 20px;
  padding-top: 0px;
}
.rightcolumn {
  float: right;
  width: 25%;
  padding: 20px;
  padding-top: 0;
}
.column1 {
  float: left;
  width: 33%;
}
.column2 {
  float: center;
  width: 34%;
  padding-left: 20px;
}
.column3 {
  float: right;
  width: 33%;
  padding-left: 20px;
}
* {
  box-sizing: border-box;
} /* for right column */
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.botlink a {
  font-family:"Lucida Grande, Sans-serif";
  font-size:12px;
  color:#83C0AC;
  text-align:center;
}
/* Lucida Grande */
